<!--Copyright 2018 Janos Klieber, Roberts Kolosovs, Peter Spieler-->
<!--This file is part of Phoenixserver.-->

<!--Phoenixserver is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--Phoenixserver is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License-->
<!--along with Phoenixserver.  If not, see <http://www.gnu.org/licenses/>.-->
{% for field in form %}
    <div class="form-group">
        <div class="col-sm-offset-2 com-sm-10">
            <span class="text-danger small">{{ field.errors }}</span>
        </div>
        <label class="control-label col-sm-2">{{ field.label_tag }}</label>
        <div class="col-sm-10">{{ field }}</div>
    </div>
{% endfor %}